# 1. Lý thuyết

**1) Để khởi tạo model trong tensorflow chúng ta sử dụng class nào?**

A. Sequential hoặc Model

B. Dense

C. Adam

D. Variable
<br>
=> Chọn A, ta dùng method tf.keras.Sequential().

**2) Điểm khác biệt giữa fit và fit_generator trong tensorflow là gì ?**

A. fit sẽ yêu cầu load toàn bộ dữ liệu lên RAM trong khi fit_generator sẽ sử dụng một hàm generator để sinh dữ liệu tại mỗi mini-batch. Từ đó giúp tiết kiệm bộ nhớ.

B. fit sẽ sử dụng hàm generator để sinh dữ liệu tại thời điểm huấn luyện còn fit_generator sẽ load toàn bộ dữ liệu.

C. fit sẽ huấn luyện model theo mini-batch còn fit_generator thì huấn luyện trên toàn bộ dataset.

D. trong hàm fit chúng ta có thể khai báo tập validation dataset còn trong fit_generator thì không.
<br>
=> Chọn A. Nhưng theo em đọc trên document này https://www.tensorflow.org/versions/r2.1/api_docs/python/tf/keras/Model#fit thì từ tensorflow 2.1.0 trở đi, fit nó đã hỗ trợ fit_generator rồi nên giờ em thấy dùng như nhau =)

**3) Các modules chính trong tensorflow dùng để xây dựng và huấn luyện model.**

A. `tf.keras.layers`: khởi tạo activation function; `tf.keras.Sequential`: khởi tạo model; `tf.keras.activations`: để khởi tạo các layers; `tf.keras.optimizers`: Khởi tạo optimizer cho bài toán tối ưu loss function; `tf.keras.losses`: khởi tạo loss function; `tf.keras.preprocessing`: Preprocessing data.

B. `tf.keras.layers`: để khởi tạo các layers; `tf.keras.Sequential`: khởi tạo model; `tf.keras.activations`: khởi tạo activation function; `tf.keras.optimizers`: Khởi tạo optimizer cho bài toán tối ưu loss function; `tf.keras.losses`: khởi tạo loss function; `tf.keras.preprocessing`: Preprocessing data.

C. `tf.keras.layers`: để khởi tạo các layers; `tf.keras.Sequential`: Preprocessing data; `tf.keras.activations`: khởi tạo activation function; `tf.keras.optimizers`: Khởi tạo optimizer cho bài toán tối ưu loss function; `tf.keras.losses`: khởi tạo loss function; `tf.keras.preprocessing`: khởi tạo model

D. `tf.keras.layers`: để khởi tạo các layers; `tf.keras.Sequential`: khởi tạo model; `tf.keras.activations`: khởi tạo activation function; `tf.keras.optimizers`: khởi tạo loss function; `tf.keras.losses`: Khởi tạo optimizer cho bài toán tối ưu loss function; `tf.keras.preprocessing`: Preprocessing data.
<br>
=> Chọn B

**4) Các bước trong huấn luyện model bao gồm:**

A. 1. Train/test data split --> 2. Initialize the optimizer algorithm --> 3. Build up model architecture --> 4. Train model on train --> 5. Evaluation on test --> 6. Save and use trained model

B. 1. Train/test data split --> 2. Build up model architecture --> 3. Train model on train --> 4. Initialize the optimizer algorithm --> 5. Evaluation on test --> 6. Save and use trained model d

C. 1. Train/test data split --> 2. Build up model architecture --> 3. Initialize the optimizer algorithm --> 4. Evaluation on test --> 5. Train model on train --> 6. Save and use trained model d

D. 1. Train/test data split --> 2. Build up model architecture --> 3. Initialize the optimizer algorithm --> 4. Train model on train --> 5. Evaluation on test --> 6. Save and use trained model
<br>
=>Chọn D

**5) Ý nghĩa của tham số epochs và batch_size trong huấn luyện mô hình là gì?**

A. epochs là kích thước của một mini-batch, batch_size là số lượt lặp lại toàn bộ dữ liệu khi huấn luyện.

B. epochs là số lượt lặp lại toàn bộ dữ liệu validation khi huấn luyện, batch_size là kích thước của một mini-batch.

C. epochs là số lượt lặp lại toàn bộ dữ liệu train khi huấn luyện, batch_size là kích thước của một mini-batch.

D. epochs là số lượng vòng lặp, mỗi vòng lặp là một lượt fit mini-batch, trên bộ dữ liệu khi huấn luyện; batch_size là kích thước của một mini-batch.
<br>
=>Chọn C

# 2. Thực hành

6) Khởi tạo một tensor 3 chiều với định dạng là float và kích thước là 32x32x3

In [ ]:
import tensorflow as tf

In [ ]:
# order: R G B 
image = tf.random.normal([3,32,32],dtype = float)

In [ ]:
image.shape

TensorShape([3, 32, 32])

7) Nếu coi tensor trên là một bức ảnh RGB với số channel là 3 ở cuối. Hãy truy suất các ma trận ảnh tương ứng với mỗi kênh R, G, B.

In [ ]:
# R
R_channel = image[0]
G_channel = image[1]
B_channel = image[2]
print(R_channel.shape)

(32, 32)

In [ ]:
print("R_channel: \n{} ".format(R_channel))
print("G_channel: \n{}".format(G_channel))
print("B_channel:\n{}".format(B_channel))

R_channel:
[[-1.3021337  -0.5662674   0.34778747 ...  1.0778248  -1.7410634
  -0.8992825 ]
 [ 1.3285094  -0.18224446 -0.6518461  ...  0.37821534 -0.5777652
  -1.0955926 ]
 [ 1.2241689  -0.14285    -0.6249595  ... -0.88824797  0.11945035
  -1.1674914 ]
 ...
 [ 0.29325917 -0.33967137  0.48085716 ...  0.7371333  -0.16394927
  -0.710344  ]
 [-1.5730131  -0.57427174 -0.76350945 ... -0.23883237 -0.11597189
  -0.1961372 ]
 [ 0.83800745 -0.5669531   0.39094314 ... -1.3644154  -1.7761183
  -0.82300186]]
G_channel:
[[ 1.1148359   1.2754713   0.40034124 ... -0.37946075  0.08847299
   0.52874494]
 [-1.6840717  -1.3210591  -0.25097886 ...  1.3493782   0.09329784
  -1.1397887 ]
 [ 0.10061241 -0.4267574  -0.17539826 ... -1.5684901   0.21232559
   2.217503  ]
 ...
 [ 0.84013265  0.9062884  -0.6219111  ... -1.588189   -1.0376643
   0.9707246 ]
 [-0.3464697   0.7136193   0.777843   ... -0.8768125  -0.42316037
  -0.06922565]
 [ 0.8810337   1.6586713  -0.76292396 ...  1.134836   -0.12866174
  -0.31106487]]
B_channel:
[[ 1.4814663  -1.2270004   1.3583134  ...  0.12241329  0.1800764
   0.26761517]
 [-1.1000223  -1.0525924  -1.4651768  ... -1.8736837   0.05822151
   0.9581424 ]
 [-2.2047548  -1.0822817   1.6871456  ...  0.56540483 -0.38191566
   0.88162297]
 ...
 [ 0.41672426  0.72745633  0.6599774  ...  1.0375961   0.13986324
   2.0274308 ]
 [ 1.1238552   0.5946033   0.07920779 ... -0.4822233   0.23015977
  -0.5163172 ]
 [-1.0939609   1.7590653   0.5415571  ... -0.38229668  2.007005
   0.7542054 ]]

8) Thực hiện tích hadamard và tích thông thường giữa ma trận R và G.

In [ ]:
print("Hadamard product:\n")
print(R_channel * G_channel)

Hadamard product:

tf.Tensor(
[[-1.4516653  -0.7222578   0.13923366 ... -0.40899223 -0.15403709
  -0.47549108]
 [-2.2373052   0.2407557   0.1635996  ...  0.51035553 -0.05390425
   1.2487441 ]
 [ 0.12316658  0.06096229  0.10961682 ...  1.3932081   0.02536237
  -2.5889158 ]
 ...
 [ 0.2463766  -0.30784023 -0.29905042 ... -1.170707    0.17012429
  -0.6895484 ]
 [ 0.5450014  -0.40981138 -0.5938905  ...  0.2094112   0.04907471
   0.01357772]
 [ 0.73831284 -0.94038886 -0.29825988 ... -1.5483876   0.22851846
   0.25600696]], shape=(32, 32), dtype=float32)

In [ ]:
print("Dot product:\n")
print(R_channel@G_channel)

Dot product:

tf.Tensor(
[[  0.5868324   -8.228735    -8.958775   ...   5.991594    -1.007788
    5.773279  ]
 [ -1.0211166    6.0566435   13.24336    ...  -4.2557006    0.01667754
    1.4305179 ]
 [  8.018187     4.7345495    2.4332767  ...   9.182941     2.193918
    0.27591968]
 ...
 [ -5.900679    -0.3495032   -2.013637   ...   1.3764172    6.4160213
    2.6394398 ]
 [-10.90996     -7.7749286   -7.5489616  ...  -5.183506    -5.1080446
    0.66466856]
 [ -4.2865715   -8.528403     0.14749742 ...  -3.4666128   -3.406264
   -0.8688561 ]], shape=(32, 32), dtype=float32)


9) Từ bộ dữ liệu [Income-Classification](https://www.kaggle.com/t/090688c8d33a40b68be9e271d6ba6bae) hãy chuẩn hóa dữ liệu và phân chia tập train/test theo tỷ lệ 80/20.

In [ ]:
%cd /content/drive/MyDrive/AI/Deeplearning_course/Week 2

/content/drive/MyDrive/AI/Deeplearning_course/Week 2

In [ ]:
import pandas as pd
data = pd.read_csv('./train.csv')

In [ ]:
data.head(10)

   ID  age work_type  ...  hrs_per_week nationality  target_income
0   0   45   Private  ...            40          US              0
1   1   23   Private  ...            30          US              0
2   2   22   Private  ...            20       South              0
3   3   27   Private  ...            40          US              0
4   4   18   Private  ...            20          US              0
5   5   44   Private  ...            48          US              0
6   6   27   Private  ...            40          US              0
7   7   38   Private  ...            50          US              1
8   8   59   Private  ...            50          US              1
9   9   69         ?  ...            40          US              0

[10 rows x 16 columns]

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   25000 non-null  int64
 1   age                  25000 non-null  int64
 2   work_type            25000 non-null  object
 3   final_weight         25000 non-null  int64
 4   education            25000 non-null  object
 5   total_education_yrs  25000 non-null  int64
 6   marital_state        25000 non-null  object
 7   job                  25000 non-null  object
 8   status               25000 non-null  object
 9   ethnicity            25000 non-null  object
 10  sex                  25000 non-null  object
 11  capital_gain         25000 non-null  int64
 12  capital_loss         25000 non-null  int64
 13  hrs_per_week         25000 non-null  int64
 14  nationality          25000 non-null  object
 15  target_income        25000 non-null  int64
dtypes: int64(8), object(8)
memory usage: 3.1+ MB
None

In [ ]:
print(data.shape)

(25000, 16)

In [ ]:
from sklearn.model_selection import train_test_split
label = data['target_income']
data = data.drop(['ID','target_income'],axis=1)
data_train, data_val, label_train, label_val = train_test_split(data, label, test_size=0.2, random_state=0)

In [ ]:
print("Shape of data train: {}".format(data_train.shape))
print("Shape of data validation: {}".format(data_val.shape))

Shape of data train: (20000, 14)
Shape of data validation: (5000, 14)

10) Xây dựng một mạng deep-neural-network để huấn luyện mô hình trên dữ liệu train và đánh giá mô hình trên dữ liệu test.

In [ ]:
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler, StandardScaler, RobustScaler, Normalizer
import category_encoders as ce
from sklearn.preprocessing import QuantileTransformer, PowerTransformer, OneHotEncoder

def feature_engineering(X_train, X_val, index_scaler=0):
    # Encode categorical variables
    cols = [ 'work_type', 
             'education', 
             'marital_state', 
             'job', 
             'status', 
             'ethnicity', 
             'sex', 
             'nationality'
            ]
    encoder = ce.OneHotEncoder(cols=cols)
    X_train = encoder.fit_transform(X_train)
    X_val = encoder.transform(X_val)
    
    # Feature scaling 
    list_scaler = [MinMaxScaler(), MaxAbsScaler(), StandardScaler(), 
                   RobustScaler(), Normalizer(), QuantileTransformer(), PowerTransformer()]
    
    scaler = list_scaler[index_scaler]
    X_train = scaler.fit_transform(X_train)
    X_val = scaler.transform(X_val)  
    return X_train, X_val

In [ ]:
X_train, X_val = feature_engineering(data_train, data_val, index_scaler=0)
y_train, y_val = label_train, label_val

In [ ]:
print(X_train.shape)
print(y_train.shape)

(20000, 108)
(20000,)

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

model.fit(X_train, y_train)
y_pred = model.predict(X_val)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy on validation dataset: {}".format(accuracy_score(y_val,y_pred)))

Accuracy on validation dataset: 0.8484

# Yêu cầu của đề bài là sử dụng mạng neural để áp dụng kiến thức vừa học.